Package: com.yourcompany.ukgbypass
Name: UKGBypass
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Wyatt Gahm
Author: Wyatt Gahm
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
